@model IEnumerable<MatriculasUPN.CapaEntidad.Estudiante>

@{
    ViewBag.Title = "ListaEstudiantes";
}

<h2>Sistema de Matriculas - Seleccionar Estudiante</h2>
<h6>(*) El estudiante que este de color negro, esta inactivo</h6>
<h6>(**) El estudiante inactivo, no puede ser matriculado</h6>

<table class="table table-bordered table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateRegister)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="border: black; background: @(item.state == true ? "" : "black"); color: @(item.state == true ? "" : "white")">
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carrera.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateRegister.Day)/@Html.DisplayFor(modelItem => item.dateRegister.Month)/@Html.DisplayFor(modelItem => item.dateRegister.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state, new { htmlAttributes = new { @class = "form-check-input" } })
            </td>
            <td>
                @if ((item.state) != false)
                {
                    @Html.ActionLink("Matricular", "Index", "Matricula", new { idEstudiante = item.id }, new { @class = "btn btn-warning" })
                }
            </td>
        </tr>
    }

</table>